.padreSuperior{
  display: flex;
  background-color: rgb(219, 219, 219);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
}


/*Incluye el panel de datos */
.contenedorSuperior{
    width:30%;
    padding: 30px;
    height: 100%;
  }

  .contenedorInformacion{
    width:100%;
  }

  #tituloPanelEntradadDatos{
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 2em;
  }
  
  .panelInformacion{
     width:100%;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  
  .panelInformacion input[type=text]{
    text-align: left;
    margin:40px 0 0 0;
    width:90%;
    padding: 1em;
    border-radius: 5px;
 
    border-style: none;
    font-size: .9em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .panelInformacion input[type=text]:focus{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .panelButtons{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:30px 0 0 0;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }


.panelButtons input[type=button]{
  background-color: rgb(0, 124, 72);
  border-style: none;
  width: 100%;
  padding:15px;
  font-size: 1em;
  color: #fff;
  border-radius: 0px;
}

#button1{
  border-radius: 5px 0px 0px 5px;
}

#button3{
  border-radius: 0px 5px 5px 0px;
}

#button1,#button2,#button3{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#button1:hover,#button2:hover,#button3:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: rgb(2, 80, 47);
}

