.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-family: PBR,Arial, Helvetica, sans-serif;
    background-color: rgba(44, 44, 44, 0.9) !important;
    color: #fff;
    text-align: center;
    border-radius: 10px;

    
    padding: 13px 15px 15px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
  
    /* Position the tooltip */
    position: absolute;
    left: -140px;
    bottom: 60px;
    z-index: 0;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Ocultar lee*/
.tooltipHide, .tooltiptextHide{
    visibility: hidden !important;
}

.tooltipHide:hover, .tooltiptextHide:hover {
    visibility: hidden !important;
}
